* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  --color-primary: #caba9c;
  --color-secondary: #3d2d18;
  --color-tertiary: #4d2d18;
  --color-text: #ffffff;
  background-color: var(--color-primary);
}

.nav-bar {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: var(--color-secondary);

  .nav-bar__account--state {
    margin-right: 5%;
    color: var(--color-text);
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  .todo-list {
    width: 90%;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;

    .todo-list__title {
      color: var(--color-text);
      margin-top: 2.5rem;
    }

    .todo-list-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;

      .todo-list-header__input {
        width: 100%;
        height: 2.5rem;
        max-width: 640px;
        background-color: var(--color-primary);
      }

      .todo-list-header__button {
        width: 7.5rem;
        height: 2.5rem;
        cursor: pointer;
        background-color: var(--color-tertiary);
        color: var(--color-text);
      }
    }
  }
}
